:root {
    --text-color: #F6F5EF;
    --reviews-card-text:rgba(246, 245, 239, 0.5);
    --background-color: #11131F;
    --yachtblock-cards-background-: #1F212D;
    --button-light-background: #93ABAE;
    --title-green-part-linear-1:#BEC7C2;
    --title-green-part-linear-2:#A1B5BA;
    --linear-green: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    --hero-image-text: #11131F;
    --reviews-card-paragraf-text: #F6F5EF80;
    --background-gradient-circles: #91AFBA;
    --background-gradient-circles-small: #A6A9B2;
    --hero-backgroun-circle: #939CAC;
    --services-image-color: #11131F33;
    --reviews-card-background: #1F212D;
    --hero-clients-circles-border: #93ABAE;
    --hero-clients-circles-background: #E3E3E3;
    --header-underline-color: #F6F5EF33;
    --aboutblock-image-gradient: linear (#000000, #11131F);
    --transition-duration-250: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --border-radius: 24px;
    --indent-vertical: 6px;
    --indent-horizontal: 24px;
    --items: 3;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.32px;
}
/* Mobile devices */
.section {
    padding: 40px 0;
}
/* Tablet devices */
@media only screen and (min-width: 768px) {
    .section {
        padding: 64px 0 36px 0;
    }
}
/* Desktop devices */
@media only screen and (min-width: 1280px) {
    .section {
        padding: 64px 0 100px 0;
    }
}
/* Mobile devices */
.container {
    min-width: 320px;
    max-width: 370px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Tablet devices */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Desktop devices */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--indent-vertical);
    row-gap: var(--indent-horizontal);
}

.card-set-item {
    flex-basis: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}