.about-section {
    padding-bottom: 26px;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: contain;

    width: 100%;
}

.about-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.0675em;

    margin-bottom: 40px;
}

.about-title-color {
    font-style: italic;
    background: var(--linear-green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-list {
    display: flex;
    gap: 14px;

    font-size: 14px;
    letter-spacing: -0.0175em;

    margin-bottom: 40px;
}

.about-item {
    flex: 1 1 50%;
}

.about-list-img {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-item-img:last-child {
    position: relative;
}

.about-item-img:last-child .item-img-wrapper {
    position: absolute;
    top: calc(100% + 24px);
    right: 0;
    border-radius: 24px;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .about-container {
        width: 768px;
    }

    .about-title {
        max-width: 514px;
        font-size: 2rem;
        letter-spacing: -0.09em;

        margin-bottom: 32px;
        text-align: left;
    }

    .about-list {
        width: 400px;

        gap: 32px;
        margin-bottom: 64px;

        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.02em;

        align-self: end;
    }


    .about-list-img {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-item-img {
        flex: 1 1 100%;
        min-width: 0;
    }

    .about-item-img.second-img {
        flex: 0 1 308px;
    }

    .about-item-img.last-img {
        flex: 0 1 calc(100% - 340px);
    }

    .about-item-img:last-child .item-img-wrapper {
        top: 70%;
        left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .about-container {
        width: 1280px;
    }
}
