.about-section {
    padding-bottom: 70px;
    --aboutblock-image-gap: 24px;
}

.about-container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.about-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.0675em;

    margin-bottom: 40px;
}

.about-title-color {
    font-style: italic;
    background: var(--linear-green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-info {
    display: flex;
    gap: 14px;

    font-size: 14px;
    letter-spacing: -0.0175em;

    margin-bottom: 40px;
}

.about-info-item {
    flex: 1 1 50%;
}

.about-list-images {
    display: flex;
    flex-direction: column;
    gap: var(--aboutblock-image-gap);

    width: 100%;
}

.list-image-item:last-child {
    position: relative;
}

.image-item-wrapper img {
    width: 100%;
    transition: all .2s ease-in-out;
}

.list-image-item:last-child .image-item-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 70%;
    border-radius: 24px;
    z-index: -7;
}

@media screen and (min-width: 768px) {
    .about-section {
        padding-bottom: 25px;
        --aboutblock-image-gap: 32px;
    }

    .about-container {
        width: 768px;
        flex-wrap: wrap;
    }

    .about-title {
        max-width: 514px;
        font-size: 2rem;
        letter-spacing: -0.09em;

        margin-bottom: 32px;
        text-align: left;
    }

    .about-info {
        width: 400px;

        gap: 32px;
        margin-bottom: 64px;

        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.02em;

        align-self: end;
    }


    .about-list-images {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-image-item {
        flex: 1 1 100%;
        min-width: 0;
    }

    .list-image-item.second-img {
        flex: 0 1 308px;
    }

    .list-image-item.last-img {
        flex: 0 1 calc(100% - (308px + var(--aboutblock-image-gap)));
    }

    .list-image-item:last-child .image-item-wrapper {
        top: 70%;
        left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .about-section {
        padding-bottom: 70px;
    }

    .about-container {
        width: 1280px;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-title, .about-info {
        flex-basis: 50%;
    }

    .about-info {
        max-width: 400px;
    }

    .list-image-item.first-img,
    .list-image-item.second-img,
    .list-image-item.last-img {
        flex: 0 0;
    }

    .list-image-item.first-img {
        flex-basis: 533px;
    }

    .list-image-item.second-img {
        order: -1;
        flex-basis: 308px;

        position: relative;
    }

    .list-image-item.second-img .image-item-wrapper {
        position: relative;
        top: 55%;
    }

    .list-image-item.last-img {
        flex-basis: 100%;
        position: relative;
        left: calc(308px + var(--aboutblock-image-gap));
    }

    .list-image-item.last-img .image-item-wrapper {
        width: 260px;
    }

    .about-section,
    .about-list-images {
        transition: all .5s ease-in-out;
    }

    .about-list-images:has(> .list-image-item:hover),
    .about-list-images:has(> .list-image-item.last-img .image-item-wrapper:hover) {
        transform: scale(1.015);
    }

    .image-item-wrapper img:hover {
        transform: scale(1.1);
        filter: drop-shadow(10px 8px 6px #131d1f);
    }

    .about-section:has(.list-image-item:hover) {
        padding-bottom: 280px;
    }

}
