.footer {
  padding-bottom: 14px;
}

.footer-wrapper {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(246, 245, 239, 0.2);
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer-socials {
  margin-bottom: 40px;
}

.footer-socials-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 14px;
}

.footer-social-link {
  background: linear-gradient(#11131f, #11131f) padding-box,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%) border-box;
  width: 32px;
  height: 32px;
  border: 1px solid var(--reviews-card-text);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition-duration-250)
    var(--transition-timing-function);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover {
  border-color: transparent;
}
.footer-social-link:hover .footer-social-icon {
  fill: url('#linear');
}

.footer-logo-link {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 114%;
  letter-spacing: 0.42px;
  margin-bottom: 40px;
}

.footer-logo-icon {
  margin-right: 8px;
  width: 16px;
  height: 18px;
  fill: url('#linear');
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
}

.copyrigth-block {
  display: flex;
  gap: 14px;
  color: rgba(246, 245, 239, 0.5);
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .footer-wrapper {
    padding-top: 64px;
    margin-bottom: 100px;
  }

  .footer-logo-link,
  .footer-socials,
  .footer-navigation {
    margin-bottom: 0;
  }

  .footer-wrapper {
    flex-direction: row;
  }
  .footer-navigation {
    flex-direction: row;
    width: 100%;
    text-transform: uppercase;
    align-items: flex-start;
  }
  .footer-logo-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.54px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 150px;
  }
  .footer-nav-list {
    gap: 24px;
  }
  .footer-logo-icon {
    width: 20px;
    height: 23px;
  }
  .copyrigth-block {
    gap: 32px;
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
  .footer-wrapper {
    margin-bottom: 132px;
  }
  
  .footer-logo-link {
    margin-right: 337px;
  }
  .footer-nav-list {
    flex-direction: row;
  }
}

/* to top button */

/* .to-top {
  position: sticky;
  bottom: 20px;
  margin-left: auto;
  margin-right: 20px;
  place-self: end;
  margin-top: calc(100vh + 50px);
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background-image: url(../img/arrow.svg), url(../img/gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  z-index: 100;
} */

.to-top {
  position: fixed;
  bottom: 2px;
  right: 20px;

  width: 44px;
  height: 44px;
  border-radius: 8px;
  background-image: url('../../img/to-top-btn/arrow.svg'), url('../../img/to-top-btn/gradient.png');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  z-index: 100;
}

.to-top.active {
  bottom: 20px;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .to-top {
    width: 68px;
    height: 68px;
    background-image: url('../../img/to-top-btn/arrow-big.svg'), url('../../img/to-top-btn/gradient.png');
    right: 32px;
  }

  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
}
