/* <!-- mobile MODAL --> */

.mobile-modal{
	position: fixed;
	width:100%;	
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	
	background-color: var(--background-color);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.mobile-modal.is-open{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.mobile-modal-container{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 28px;
	padding-bottom: 28px;
	height: 100%;
}
.mobile-modal-wrap{
	width: 100%;
	border-bottom: 1px solid rgba(246, 245, 239, 0.20);
}

.mobile-modal-logo-link{
	position: relative;
	display: flex;
    align-items: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing:0.03em;
	text-transform: uppercase;
	padding-bottom: 24px;

}
.modal-logo{
    margin-right: 8px;
    width: 16px;
    height: 18px;
    background-color: red;
}

.mobile-modal-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 14px;
	margin-top: 140px;
	
}
.mobile-modal-item{
	
	font-size: 14px;
	font-weight: 700;
	line-height: 118%; 
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.mobile-modal-btn-close{
	position: absolute;
	top: 24px;
	right: 20px;
	cursor: pointer;	
	
	/* opacity: 0.10000000149011612; */
	color: var(--text-color);
	background-color: red;
	width: 24px;
	height: 24px;
	padding: 0;
	line-height: 0;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.mobile-modal-btn-icon{
    
	fill: currentColor; 
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 0;
}
.modal-background-circle{
	
    width:279px;
    height: 279px;
    border-radius: 279px;
    opacity: .6000000238418579;
    background: var(--background-gradient-circles);
    filter: blur(100px);
    position: absolute;
    z-index: -1;
    bottom: 0;
    transform: translate(-55%);
}
.circle-last{
	bottom: 0;
	transform: translate(45%, 45%);
}

@media screen and (min-width: 768px){
	.mobile-modal{
		display: none;
	}	
}
