.modal-rent {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 396px;
    background: var(--yachtblock-cards-background);
    border-radius: 20px;
    padding: 40px 24px;
    outline: 1px solid red;
}

.rent-modal-container{
    width: 335px;
    height: 396px;
    position: relative;
    
}


.rent-modal-container::after {
    content:"";
    width: 142px;
    height: 142px;
    transform: rotate(-45.074deg);
    border-radius: 323px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);
    position: absolute;
    z-index: -1;
    top: 20%;
    right: 50%;
    transform: translate(50%);
    
}

/* Tablet devices */
@media screen and (min-width: 768px) {
    .rent-modal-container::after {
        content: "";
        width: 265px;
        height: 265px;
        top: 10%;
        right: 30%;
        transform: rotate(-45.074deg);
        flex-shrink: 0;
        border-radius: 265px;
        opacity: 0.6000000238418579;
        background: #91AFBA;
        filter: blur(100px);
    }
}








.modal-rent-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    
}



.modal-rent-icon {
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-rent-btn:hover .modal-rent-icon,
.modal-rent-btn:focus .modal-rent-icon {
    fill: var(--text-color);
}

/* .modal-rent.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
} */

.modal-rent-picture{
    margin-bottom: 24px;
}

.modal-rent-strong-text { 
    margin-bottom: 14px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.0625em;

}

.modal-rent-text{
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.0175em;
}

@media only screen and (min-width: 768px) {
    .modal-rent {
         width: 570px;
         height: 522px;
        border-radius: 40px;
        padding-top: 97px;
        padding-right: 64px;
        padding-bottom: 64px;
        padding-left: 64px;
    }

    .rent-modal-container {
        width: 570px;
        height: 522px;
        position: relative;
        }


    .modal-rent-picture {
        margin-left: auto;
        margin-right: auto;
         margin-bottom: 21px;
    }
    .modal-rent-strong-text { 
        margin-bottom: 16px;
        font-size: 32px;
        letter-spacing: -0.09em;
    }
    .modal-rent-text {
        font-size: 14px;
        letter-spacing: -0.02em;
    }
}