/* <!-- mobile MODAL --> */
@media screen and (min-width: 375px) {
	.mobile-modal-container{
		width: 375px;
		max-height: 812px;
	}
}
.mobile-modal{
	position: fixed;
	width:100%;	
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: var(--background-color);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity  var(--transition-duration-250) var(--transition-timing-function),visibility var(--transition-duration-250) var(--transition-timing-function);
}
.mobile-modal.is-open{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.mobile-modal-container{
	position: relative;
	padding-top: 27px;
	padding-bottom: 24px;
	height: 100%;
}

.mobile-modal-container::before{
	content: "";
	position: absolute;
    width:279px;
    height: 279px;
    border-radius: 279px;
    opacity: .6000000238418579;
    background: var(--background-gradient-circles);
    filter: blur(100px);
    z-index: -1;
    bottom: 0;
    transform: translate(-55%);
}
.mobile-modal-container::after{
	content: "";
	position: absolute;
    width:279px;
    height: 279px;
    border-radius: 279px;
    opacity: .6000000238418579;
    background: var(--background-gradient-circles);
    filter: blur(100px);
    z-index: -1;
	bottom: 0;
	transform: translate(45%, 45%);
}
.mobile-modal-logo-link{
	position: relative;
	display: flex;
    align-items: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing:0.03em;
	text-transform: uppercase;
	padding-bottom: 27px;
	border-bottom: 1px solid rgba(246, 245, 239, 0.20);

}

.modal-logo{
    margin-right: 8px;
    width: 16px;
    height: 18px;
	fill: url(#linear);
}
.modal-logo-text{
	transition: color var(--transition-duration-250) var(--transition-timing-function);
}
.modal-logo-text:hover,
.modal-logo-text:focus {
	color:var(--button-light-background);
	
}
.mobile-modal-btn-close{
	position: absolute;
	top: 24px;
	right: 20px;
	cursor: pointer;	
	color: var(--text-color);
	width: 24px;
	height: 24px;
	padding: 0;
	line-height: 0;
	
}
.mobile-modal-btn-icon{
    stroke: currentColor; 
	transition: stroke 250ms var(--transition-duration-250) var(--transition-timing-function);
	
}
.mobile-modal-btn-icon:hover,
.mobile-modal-btn-icon:focus {
	stroke:url(#linear);
} 

.mobile-modal-list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 14px;
	margin-top: 140px;
	
}
.mobile-modal-item{
	font-size: 14px;
	font-weight: 700;
	line-height: 1.18; 
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.mobile-modal-link{
	transition: color var(--transition-duration-250) var(--transition-timing-function);
}
.mobile-modal-link:hover,
.mobile-modal-link:focus {
	color: var(--button-light-background);
	
}

@media screen and (min-width: 768px){
	.mobile-modal{
		display: none;
	}	
}

