/* VARS */
:root {
  --swiper-bullet-active-color: #88b3b9;
  --swiper-bullet-color: #1f212d;
  --yachts-gradient-color-start: #bec7c2;
  --yachts-gradient-color-end: #a1b5ba;
  --review-card-text-color: rgba(246, 245, 239, 0.5);
}

.swiper .swiper-pagination-bullet {
  background-color: var(--swiper-bullet-color, #1f212d);
  filter: drop-shadow(2px 1px 3px rgba(24, 55, 91, 0.2));
  opacity: 1;
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.swiper .swiper-pagination-bullet-active {
  background-color: var(--swiper-bullet-active-color, #88b3b9);
  width: 13px;
  height: 13px;
  margin-right: 10px;
  stroke-width: 1px;
  stroke: var(--button-light-background);
  box-shadow: 2px 2px 3px 0px rgba(79, 98, 120, 0.9) inset,
    3px 3px 5px 0px rgba(213, 230, 245, 0.4) inset,
    0px 0px 4px 0px rgba(46, 68, 87, 0) inset;
}

/* REVIEW MOBILE */
@media screen and (min-width: 200px) {
  .review-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .review-container {
    max-width: 375px;
    padding: 0 20px;
  }

  .review-swiper {
    max-width: 335px;
    margin: 0 auto;
  }

  .swiper .review-swiper-wrapper {
    width: 335px;
    padding-bottom: 42px;
  }

  .swiper .review-card-style {
    max-width: 335px;
    padding: 24px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--reviews-card-background, #1f212d);
    border-radius: 24px;
  }

  .review-title {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: var(--text-color, #f6f5ef);
    max-width: 335px;
    text-align: left;
    margin-right: auto;
    margin: 0;
    margin-bottom: 24px;
  }

  .review-title-italic {
    font-style: italic;
    background: -webkit-linear-gradient(
      0deg,
      var(--yachts-gradient-color-start),
      var(--yachts-gradient-color-end)
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .review-title-holder {
    margin-bottom: 40px;
  }

  .review-desc {
    color: var(--text-color, #f6f5ef);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
    max-width: 335px;
    margin-left: auto;
    margin: 0;
  }

  .review-card-avatar {
    display: block;
    margin-bottom: 18px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .review-card-name {
    color: var(--text-color, #f6f5ef);
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.05em;
    margin: 0;
    margin-bottom: 8px;
  }

  .review-card-text {
    color: var(--review-card-text-color, rgba(246, 245, 239, 0.5));
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
    margin: 0;
    max-width: 300px;
  }
}

/* REVIEW TABLET */

@media screen and (min-width: 768px) {
  body {
  }

  .review-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .review-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .review-swiper {
    max-width: 704px;
    margin: 0 auto;
  }

  .swiper .review-swiper-wrapper {
    width: 704px;
    padding-bottom: 57px;
  }

  .swiper .review-card-style {
    max-width: 344px;
    padding: 24px 12px;
  }

  .review-title {
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.05em;
    max-width: 497px;
    text-align: left;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .review-desc {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
    max-width: 273px;
    margin-left: auto;
    margin-bottom: 64px;
  }

  .review-title-holder {
    margin-bottom: 64px;
  }

  .review-card-avatar {
    margin-bottom: 24px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  .review-card-name {
    margin-bottom: 8px;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.05em;
    margin-top: 0;
  }

  .review-card-text {
    color: var(--review-card-text-color, rgba(246, 245, 239, 0.5));
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
    max-width: 320px;
  }
}

/* REVIEW DESKTOP */

@media screen and (min-width: 1280px) {
  .review-section {
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .review-container {
    max-width: 1280px;
    padding: 0 32px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .review-swiper {
    max-width: 1216px;
    margin: 0 auto;
  }

  .swiper .review-swiper-wrapper {
    width: 1216px;
    /* height: 282px; */
    margin: 0 auto;
    padding-bottom: 0;
  }

  .swiper .review-card-style {
    max-width: 384px;
    padding: 32px;
  }

  .review-title {
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.05em;
    max-width: 497px;
    text-align: left;
    margin: 0;
    margin-right: auto;
  }

  .review-desc {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
    max-width: 273px;
    margin: 0;
    margin-left: auto;
  }

  .review-card-avatar {
    margin-bottom: 24px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  .review-card-name {
    margin-bottom: 8px;
    margin-top: 0;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.04em;
  }

  .review-card-text {
    color: var(--review-card-text-color, rgba(246, 245, 239, 0.5));
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.02em;
    max-width: 320px;
  }

  .review-title-holder {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;
  }
}
