<footer class="footer container">
  <div class="footer-wrapper">
    <nav class="footer-navigation">
      <a class="footer-logo-link" href="#">
        <svg class="footer-logo-icon">
          <use href="./img/svg/icons.svg#icon-boat"></use>
        </svg>
        <span class="footer-logo-text">yaht Adventures</span>
      </a>
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#about">About</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#yahts">Yahts</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <div class="footer-socials">
      <p class="footer-socials-title">We in social</p>
      <ul class="footer-socials-list">
        <li class="footer-social-item">
          <a
            href="https://facebook.com/"
            class="footer-social-link"
            target="_blank"
            rel="noopener no referrer"
            aria-label="facebook icon"
          >
            <svg class="footer-social-icon" width="8" height="16">
              <use href="./img/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://instagram.com/"
            class="footer-social-link"
            target="_blank"
            rel="noopener no referrer"
            aria-label="instagram icon"
          >
            <svg class="footer-social-icon" width="15" height="15">
              <use href="./img/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://youtube.com/"
            class="footer-social-link"
            target="_blank"
            rel="noopener no referrer"
            aria-label="youtube icon"
          >
            <svg class="footer-social-icon" width="18" height="18">
              <use href="./img/svg/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="copyrigth-block">
    <p class="copyrigth-desc">2023. Yaht Adventures</p>
    <a class="copyrigth-link" href="#">Privacy Police</a>
  </div>

  <!-- FOR SVG GRADIENT -->
  <svg
    class="visually-hidden"
    width="1"
    height="1"
    viewBox="0 0 20 14"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      d="M15.665 0.124892C14.73 0.0698925 12.805 0.0148926 9.89002 0.0148926H9.50501C6.70001 0.0148926 4.83004 0.0698924 3.89504 0.179892C2.63004 0.289892 1.75001 0.619892 1.25501 1.05989C0.815008 1.44489 0.485021 2.15989 0.375021 3.09489C0.320021 3.69989 0.265015 4.96489 0.265015 6.88989V7.16489C0.265015 8.97989 0.320008 10.2449 0.430008 10.8499C0.595008 11.7299 0.870035 12.3899 1.42003 12.7749C1.97004 13.2149 2.90502 13.4899 4.22502 13.5999C5.16002 13.6549 7.08502 13.7099 10 13.7099H10.385C13.19 13.7099 15.06 13.6549 15.995 13.5449C17.26 13.4349 18.14 13.1049 18.635 12.6649C19.075 12.2799 19.405 11.5649 19.515 10.6299C19.57 10.0249 19.625 8.75989 19.625 6.83489V6.55989C19.625 4.74489 19.57 3.47989 19.46 2.87489C19.295 1.99489 19.02 1.33489 18.47 0.949892C17.92 0.509892 16.985 0.234892 15.665 0.124892ZM13.52 6.88989L7.47004 10.5199V3.25989L13.52 6.88989Z"
      fill="#ffffff"
    />
    <defs>
      <linearGradient
        id="linear"
        x1="8.50897"
        y1="0.0148947"
        x2="18.3827"
        y2="0.542853"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#BEC7C2" />
        <stop offset="1" stop-color="#A1B5BA" />
      </linearGradient>
    </defs>
  </svg>
  
</footer>
