<header class="container">
  <div class="header-wrapper">
    <nav class="header-navigation">
      <a class="header-logo-link" href="#">
        <svg class="header-logo-icon">
          <use href=""></use>
        </svg>

        <span class="logo-text">yaht Adventures</span>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#yahts">Yahts</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button
      class="header-burger-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header-burger-icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>