<header class="header container">
  <a class="logo-link" href="#">
    <svg class="logo-icon" width="22" height="22">
      <use href=""></use>
    </svg>
    <span class="logo-text">yaht Adventures</span>
  </a>
  <nav class="header-navigation">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link" href="">About</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Yahts</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="">Reviews</a>
      </li>
    </ul>
  </nav>
</header>
