<section class="hero">
  <div class="container-hero container">
    <div class="hero-container-text">
      <h1 class="hero-title title">Explore the High Seas with with <span class="hero-title-color">Our Luxury
          Yacht</span> Rentals</h1>
      <p class="hero-about">Experience the freedom and luxury of yachting on the open seas. Choose from our
        top-of-the-line
        yachts and embark on an
        unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
    </div>
    <div class="hero-container-btn">
      <button class="hero-button button" type="button">Get Started</button>
      <a href="#services">Explore</a>
    </div>
    <div class="hero-container-visual">
      <div class="hero-clients">
        <ul class="hero-list-client list">
          <li class="hero-list-item">
            <img class="hero-clients-img" srcset="./images/team/guerrero@1x.jpg 1x, ./images/team/guerrero@2x.jpg 2x"
              src="./images/team/guerrero@1x.jpg" alt="Client man" width="56">
          </li>
          <li class="hero-list-item">
            <img class="hero-clients-img" srcset="./images/team/guerrero@1x.jpg 1x, ./images/team/guerrero@2x.jpg 2x"
              src="./images/team/guerrero@1x.jpg" alt="Client woman" width="56">
          </li>
          <li class="hero-list-item">
            <img class="hero-clients-img" srcset="./images/team/guerrero@1x.jpg 1x, ./images/team/guerrero@2x.jpg 2x"
              src="./images/team/guerrero@1x.jpg" alt="Client bearded man" width="56">
          </li>
        </ul>
        <p class="hero-text">Our Clients</p>
      </div>
      <div class="hero-yacht-img">
        <img class="hero-bcg-gradient" srcset="./images/team/guerrero@1x.jpg 1x, ./images/team/guerrero@2x.jpg 2x"
          src="./images/team/guerrero@1x.jpg" alt="yacht background" width="462">
        <img class="hero-bcg-yacht" srcset="./images/team/guerrero@1x.jpg 1x, ./images/team/guerrero@2x.jpg 2x"
          src="./images/team/guerrero@1x.jpg" alt="yacht" width="378">
        <img class="hero-cool-man" srcset="./images/team/guerrero@1x.jpg 1x, ./images/team/guerrero@2x.jpg 2x"
          src="./images/team/guerrero@1x.jpg" alt="yacht owner" width="233">
      </div>
      <div class="hero-yacht-text">
        <p class="hero-text">$12M</p>
        <p class="hero-text">Book now and make your dream yacht rental a reality</p>
      </div>
    </div>
  </div>
</section>