<section class="hero">
  <div class="container-hero">
    <div class="hero-container-text">
      <h1 class="hero-title title">Explore the High Seas with with <span class="hero-title-color">Our Luxury
          Yacht</span> Rentals</h1>
      <p class="hero-about">Experience the freedom and luxury of yachting on the open seas. Choose from our
         top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and 
         state-of-the-art amenities.</p>
        <ul class="hero-list-btn">
          <li class="hero-list-item"><button class="hero-button button" type="button">Get Started</button></li>
          <li class="hero-list-item"><a class="hero-anchor-link" href="#services">Explore</a></li>
        </ul>
    </div>
    <div class="hero-container-visual">
<div class="hero-clients">
  <a href="#reviews" class="hero-clients-link">
  <ul class="hero-list-client list">
    <li class="hero-list-item">
      <picture>
        <!-- Desktop screen -->
        <source media="(min-width: 1280px)" srcset="../img/hero/clients/client1_desk@1x.webp 1x, ../img/hero/clients/client1_desk@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 1280px)" srcset="../img/hero/clients/client1_desk@1x.png 1x, ../img/hero/clients/client1_desk@2x.png 2x"
          type="image/png">
        <!-- Tablet screen -->
        <source media="(min-width: 768px)" srcset="../img/hero/clients/client1_tab@1x.webp 1x, ../img/hero/clients/client1_tab@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 768px)" srcset="../img/hero/clients/client1nt2_tab@1x.png 1x, ../img/hero/clients/client1_tab@2x.png 2x"
          type="image/png">
        <!-- Mobile screen -->
        <source media="(max-width: 767px)" srcset="../img/hero/clients/client1_mob@1x.webp 1x, ../img/hero/clients/client1_mob@2x.webp 2x"
          type="image/webp">
        <source media="(max-width: 767px)" srcset="../img/hero/clients/client1_mob@1x.png 1x, ../img/hero/clients/client1_mob@2x.png 2x"
          type="image/png">
        <img class="hero-clients-img hero-clients-img-1" src="../img/hero/clients/client1_desk@2x.png" alt="Client man" width="56" height="56"
          loading="lazy">
      </picture>
    </li>
    <li class="hero-list-item">
      <picture>
        <!-- Desktop screen -->
        <source media="(min-width: 1280px)" srcset="../img/hero/clients/client2_desk@1x.webp 1x, ../img/hero/clients/client2_desk@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 1280px)" srcset="../img/hero/clients/client2_desk@1x.png 1x, ../img/hero/clients/client2_desk@2x.png 2x"
          type="image/png">
        <!-- Tablet screen -->
        <source media="(min-width: 768px)" srcset="../img/hero/clients/client2_desk@1x.webp 1x, ../img/hero/clients/client2_desk@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 768px)" srcset="../img/hero/clients/client2_desk@1x.png 1x, ../img/hero/clients/client2_desk@2x.png 2x"
          type="image/png">
        <!-- Mobile screen -->
        <source media="(max-width: 767px)" srcset="../img/hero/clients/client2_desk@1x.webp 1x, ../img/hero/clients/client2_desk@2x.webp 2x"
          type="image/webp">
        <source media="(max-width: 767px)" srcset="../img/hero/clients/client2_desk@1x.png 1x, ../img/hero/clients/client2_desk@2x.png 2x"
          type="image/png">
        <img class="hero-clients-img hero-clients-img-2" src="../img/hero/clients/client2_desk@2x.png" alt="Client woman" width="56" height="56"
          loading="lazy">
      </picture>
    </li>
    <li class="hero-list-item">
      <picture>
        <!-- Desktop screen -->
        <source media="(min-width: 1280px)" srcset="../img/hero/clients/client3_desk@1x.webp 1x, ../img/hero/clients/client3_desk@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 1280px)" srcset="../img/hero/clients/client3_desk@1x.png 1x, ../img/hero/clients/client3_desk@2x.png 2x"
          type="image/png">
        <!-- Tablet screen -->
        <source media="(min-width: 768px)" srcset="../img/hero/clients/client3_desk@1x.webp 1x, ../img/hero/clients/client3_desk@2x.webp 2x"
          type="image/webp">
        <source media="(min-width: 768px)" srcset="../img/hero/clients/client3_desk@1x.png 1x, ../img/hero/clients/client3_desk@2x.png 2x"
          type="image/png">
        <!-- Mobile screen -->
        <source media="(max-width: 767px)" srcset="../img/hero/clients/client3_desk@1x.webp 1x, ../img/hero/clients/client3_desk@2x.webp 2x"
          type="image/webp">
        <source media="(max-width: 767px)" srcset="../img/hero/clients/client3_desk@1x.png 1x, ../img/hero/clients/client3_desk@2x.png 2x"
          type="image/png">
        <img class="hero-clients-img hero-clients-img-3" src="../img/hero/clients/client3_desk@2x.png" alt="Client bearded man" width="56" height="56"
          loading="lazy">
      </picture>
    </li>
  </ul>
  </a>
  <p class="hero-text hero-text-clients">Our Clients</p>
</div>
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)" srcset="../img/hero/man/man_desk@1x.webp 1x, ../img/hero/man/man_desk@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 1280px)" srcset="../img/hero/man/man_desk@1x.jpg 1x, ../img/hero/man/man_desk@2x.jpg 2x"
            type="image/jpg">
          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="../img/hero/man/man_tab@1x.webp 1x, ../img/hero/man/man_tab@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 768px)" srcset="../img/hero/man/man_tab@1x.jpg 1x, ../img/hero/man/man_tab@2x.jpg 2x"
            type="image/jpg">
          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="../img/hero/man/man_mob@1x.webp 1x, ../img/hero/man/man_mob@2x.webp 2x"
            type="image/webp">
          <source media="(max-width: 767px)" srcset="../img/hero/man/man_mob@1x.jpg 1x, ../img/hero/man/man_mob@2x.jpg 2x"
            type="image/jpg">
          <img class="hero-yachtowner-img" src="../img/hero/man/man_desk@2x.jpg" alt="yacht" width="233" height="233" loading="lazy">
        </picture>
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)" srcset="../img/hero/yacht/yaht_desk@1x.webp 1x, ../img/hero/yacht/yaht_desk@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 1280px)" srcset="../img/hero/yacht/yaht_desk@1x.png 1x, ../img/hero/yacht/yaht_desk@2x.png 2x"
            type="image/jpg">
          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="../img/hero/yacht/yaht_tab@1x.webp 1x, ../img/hero/yacht/yaht_tab@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 768px)" srcset="../img/hero/yacht/yaht_tab@1x.png 1x, ../img/hero/yacht/yaht_tab@2x.png 2x"
            type="image/jpg">
          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="../img/hero/yacht/yaht_mob@1x.webp 1x, ../img/hero/yacht/yaht_mob@2x.webp 2x"
            type="image/webp">
          <source media="(max-width: 767px)" srcset="../img/hero/yaht/yacht_mob@1x.png 1x, ../img/hero/yacht/yaht_mob@2x.png 2x"
            type="image/jpg">
          <img class="hero-yacht-img" src="../img/hero/yacht/yaht_desk@2x.png" alt="yacht owner" width="378" height="221"  
            loading="lazy">
        </picture>
      <div class="hero-yacht-text">
        <p class="hero-text hero-text-amount">$12M</p>
        <p class="hero-text hero-text-about">Book now and make your dream yacht rental a reality</p>
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)" srcset="../img/hero/bcg/bcg_desk.webp 1x, ../img/hero/bcg/bcg_desk@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 1280px)" srcset="../img/hero/bcg/bcg_desk.png 1x, ../img/hero/bcg/bcg_desk@2x.png 2x"
            type="image/jpg">
          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="../img/hero/bcg/bcg_tab.webp 1x, ../img/hero/bcg/bcg_tab@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 768px)" srcset="../img/hero/bcg/bcg_tab.png 1x, ../img/hero/bcg/bcg_tab@2x.png 2x"
            type="image/jpg">
          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="../img/hero/bcg/bcg_mob.webp 1x, ../img/hero/bcg/bcg_mob@2x.webp 2x"
            type="image/webp">
          <source media="(max-width: 767px)" srcset="../img/hero/bcg/bcg_mob.png 1x, ../img/hero/bcg/bcg_mob@2x.png 2x"
            type="image/jpg">
          <img class="hero-bcg-img" src="../img/hero/bcg/bcg_desk@2x.png" alt="yacht background" width="426" height="598"
            loading="lazy">
        </picture>
      </div>
    </div>
  </div>
</section>