<section class="hero">
  <div class="container-hero container">
    <div class="hero-container-text">
      <h1 class="hero-title title">Explore the High Seas with with <span class="hero-title-color">Our Luxury
          Yacht</span> Rentals</h1>
      <p class="hero-about">Experience the freedom and luxury of yachting on the open seas. Choose from our
         top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and 
         state-of-the-art amenities.</p>
    </div>
    <div class="hero-container-btn">
      <ul class="hero-list-btn">
        <li class="hero-list-item"><button class="hero-button button" type="button">Get Started</button></li>
        <li class="hero-list-item"><a class="hero-anchor-link" href="#services">Explore</a></li>
      </ul>
    </div>
    <div class="hero-container-visual">
      <div class="hero-clients">
        <ul class="hero-list-client list">
          <li class="hero-list-item">
            <picture>
              <!-- Desktop screen -->
              <source media="(min-width: 1280px)" srcset="../img/hero/img1-desk.webp  1x, ../img/hero/img1-desk@2x.webp 2x" type="image/webp">
              <source media="(min-width: 1280px)" srcset="../img/hero/img1-desk.jpg 1x, ../img/hero/img1-desk@2x.jpg 2x" type="image/jpg">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="../img/hero/img1-tablet.webp 1x, ../img/hero/img1-tablet@2x.webp 2x" type="image/webp">
              <source media="(min-width: 768px)" srcset="../img/hero/img1-tablet.jpg 1x, ../img/hero/img1-tablet@2x.jpg 2x" type="image/jpg">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="../img/hero/img1-mob.webp 1x, ../img/hero/img1-mob@2x.webp 2x" type="image/webp">
              <source media="(max-width: 767px)" srcset="../img/hero/img1-mob.jpg 1x, ../img/hero/img1-mob@2x.jpg 2x" type="image/jpg">
              <img class="hero-clients-img" src="../img/hero/img1-mob.jpg" alt="Client man" width="56" height="56" loading="lazy">
            </picture>
          </li>
          <li class="hero-list-item">
            <picture>
              <!-- Desktop screen -->
              <source media="(min-width: 1280px)" srcset="../img/hero/img2-desk.webp  1x, ../img/hero/img2-desk@2x.webp 2x" type="image/webp">
              <source media="(min-width: 1280px)" srcset="../img/hero/img2-desk.jpg 1x, ../img/hero/img2-desk@2x.jpg 2x" type="image/jpg">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="../img/hero/img2-tablet.webp  1x, ../img/hero/img2-tablet@2x.webp 2x" type="image/webp">
              <source media="(min-width: 768px)" srcset="../img/hero/img2-tablet.jpg 1x, ../img/hero/img2-tablet@2x.jpg 2x" type="image/jpg">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="../img/hero/img2-mob.webp  1x, ../img/hero/img2-mob@2x.webp 2x" type="image/webp">
              <source media="(max-width: 767px)" srcset="../img/hero/img2-mob.jpg 1x, ../img/hero/img2-mob@2x.jpg 2x" type="image/jpg">
              <img class="hero-clients-img" src="../img/hero/img2-mob.jpg" alt="Client woman" width="56" height="56" loading="lazy">
            </picture>
          </li>
          <li class="hero-list-item">
            <picture>
              <!-- Desktop screen -->
              <source media="(min-width: 1280px)" srcset="../img/hero/img3-desk.webp  1x, ../img/hero/img3-desk@2x.webp 2x" type="image/webp">
              <source media="(min-width: 1280px)" srcset="../img/hero/img3-desk.jpg 1x, ../img/hero/img3-desk@2x.jpg 2x" type="image/jpg">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="../img/hero/img3-tablet.webp  1x, ../img/hero/img3-tablet@2x.webp 2x" type="image/webp">
              <source media="(min-width: 768px)" srcset="../img/hero/img3-tablet.jpg 1x, ../img/hero/img3-tablet@2x.jpg 2x" type="image/jpg">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="../img/hero/img3-mob.webp  1x, ../img/hero/img3-mob@2x.webp 2x" type="image/webp">
              <source media="(max-width: 767px)" srcset="../img/hero/img3-mob.jpg 1x, ../img/hero/img3-mob@2x.jpg 2x" type="image/jpg">
              <img class="hero-clients-img" src="../img/hero/img3-mob.jpg" alt="Client bearded man" width="56" height="56" loading="lazy">
            </picture>
          </li>
        </ul>
        <p class="hero-text">Our Clients</p>
      </div>
      <div class="hero-yacht-img">
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)" srcset="../img/hero/img6-desk.webp 1x, ../img/hero/img6-desk@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1280px)" srcset="../img/hero/img6-desk.jpg 1x, ../img/hero/img6-desk@2x.jpg 2x" type="image/jpg">
          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="../img/hero/img6-tablet.webp 1x, ../img/hero/img6-tablet@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)" srcset="../img/hero/img6-tablet.jpg 1x, ../img/hero/img6-tablet@2x.jpg 2x" type="image/jpg">
          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="../img/hero/img6-mob.webp 1x, ../img/hero/img6-mob@2x.webp 2x" type="image/webp">
          <source media="(max-width: 767px)" srcset="../img/hero/img6-mob.jpg 1x, ../img/hero/img6-mob@2x.jpg 2x" type="image/jpg">
          <img class="hero-bcg-img" src="../img/hero/img6-mob.jpg" alt="yacht background" width="462" height="651" loading="lazy">
        </picture>
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)" srcset="../img/hero/img4-desk.webp  1x, ../img/hero/img4-desk@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1280px)" srcset="../img/hero/img4-desk.jpg 1x, ../img/hero/img4-desk@2x.jpg 2x" type="image/jpg">
          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="../img/hero/img4-tablet.webp  1x, ../img/hero/img4-tablet@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)" srcset="../img/hero/img4-tablet.jpg 1x, ../img/hero/img4-tablet@2x.jpg 2x" type="image/jpg">
          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="../img/hero/img4-mob.webp  1x, ../img/hero/img4-mob@2x.webp 2x" type="image/webp">
          <source media="(max-width: 767px)" srcset="../img/hero/img4-mob.jpg 1x, ../img/hero/img4-mob@2x.jpg 2x" type="image/jpg">
          <img class="hero-yacht-img" src="../img/hero/img4-mob.jpg" alt="yacht" width="378" height="221" loading="lazy">
        </picture>
        <picture>
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)" srcset="../img/hero/img5-desk.webp 1x, ../img/hero/img5-desk@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1280px)" srcset="../img/hero/img5-desk.jpg 1x, ../img/hero/img5-desk@2x.jpg 2x" type="image/jpg">
          <!-- Tablet screen -->
          <source media="(min-width: 768px)" srcset="../img/hero/img5-tablet.webp  1x, ../img/hero/img5-tablet@2x.webp 2x" type="image/webp">
          <source media="(min-width: 768px)" srcset="../img/hero/img5-tablet.jpg 1x, ../img/hero/img5-tablet@2x.jpg 2x" type="image/jpg">
          <!-- Mobile screen -->
          <source media="(max-width: 767px)" srcset="../img/hero/img5-mob.webp 1x, ../img/hero/img5-mob@2x.webp 2x" type="image/webp">
          <source media="(max-width: 767px)" srcset="../img/hero/img5-mob.jpg 1x, ../img/hero/img5-mob@2x.jpg 2x" type="image/jpg">
          <img class="hero-yachtowner-img" src="../img/hero/img5-mob.jpg" alt="yacht owner" width="233" height="233" loading="lazy">
        </picture>
      </div>
      <div class="hero-yacht-text">
        <p class="hero-text">$12M</p>
        <p class="hero-text">Book now and make your dream yacht rental a reality</p>
      </div>
    </div>
  </div>
</section>