<div class="rent-modal-container is-hidden" id="myModal">
  <div class="modal-rent">
    <button class="modal-rent-btn" id="closeButton" aria-label="Close button">
      <svg class="modal-rent-icon" width="20" height="20">
        <use href="./img/svg/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <picture class="modal-rent-picture">
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/rent-modal/img-yahtmodal-rent-tablreswebp.webp,
          ./img/rent-modal/img-yahtmodal-rent-tabl@2xreswebp.webp
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/rent-modal/img-yahtmodal-rent-tablres.png,
          ./img/rent-modal/img-yahtmodal-rent-tabl@2xres.png 2x
        "
        type="image/png"
      />
      <!-- Mobile screen -->
      <source
        media="(max-width: 768px)"
        srcset="
          ./img/rent-modal/img-yahtmodal-rent-mobreswebp.webp,
          ./img/rent-modal/img-yahtmodal-rent-mob@2xreswebp.webp
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/rent-modal/img-yahtmodal-rent-mobres.png,
          ./img/rent-modal/img-yahtmodal-rent-mob@2xres.png
        "
        type="image/png"
      />
      <img
        class="card-img"
        src="./img/rent-modal/img-yahtmodal-rent-tablreswebp.webp"
        width="338"
        height="198"
        loading="lazy"
        alt="yaht"
      />
    </picture>

    <h2 class="modal-rent-strong-text">Thank you</h2>
    <p class="modal-rent-text">
      Thank you for choosing Yacht Adventures, your booking details have been
      received and our team will be in touch shortly to confirm your reservation
      and provide any additional information or assistance you may need.
    </p>
  </div>
</div>
