<div class="modal-rent is-hidden">
  <button class="modal-rent-btn" aria-label="Close button">
    <svg class="modal-rent-icon" width="20" height="20">
      <use href="../img/svg/original.svg#icon-modal-close"></use>
    </svg>
  </button>
  <picture class="modal-rent-picture">
    <!-- Desktop screen -->
    <!-- Tablet screen -->
    <!-- <source
      media="(min-width: 768px)"
      srcset="
        ../img/rent-modal/modal-img-desk.webp,
        ../img/rent-modal/modal-img-desk@2x.webp
      "
      type="image/webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ../img/rent-modal/modal-img-desk.jpg,
        ../img/rent-modal/modal-img-desk@2x.jpg
      "
      type="image/jpg"
    /> -->

    <!-- Mobile screen -->
    <!-- <source
      media="(max-width: 767px)"
      srcset="
        ../img/rent-modal/modal-img-mob.webp,
        ../img/rent-modal/modal-img-mob@2x.webp
      "
      type="image/webp"
    />
    <source
      media="(max-width: 767px)"
      srcset="
        ../img/rent-modal/modal-img-mob.jpg,
        ../img/rent-modal/modal-img-mob@2x.jpg
      "
      type="image/jpg"
    /> -->
    <img
      class="modal-rent-imj"
      src="../img/rent-modal/img yaht.png"
      alt="yaht"
      width="338"
      height="198"
      loading="lazy"
    />
  </picture>
  <h2 class="modal-rent-strong-text">Thank you</h2>
  <p class="modal-rent-text">
    Thank you for choosing Yacht Adventures, your booking details have been
    received and our team will be in touch shortly to confirm your reservation
    and provide any additional information or assistance you may need.
  </p>
</div>
