<!-- mobile MODAL -->

<div class="mobile-modal js-menu-container" id="mobile-menu">
  <div class="mobile-modal-container container">
    <a class="mobile-modal-logo-link link" href="./index.html">
      <svg class="modal-logo" width="16" height="18">
        <use href="./img/svg/icons.svg#icon-boat"></use></svg
      >yaht Adventures</a
    >
    <button type="button" class="mobile-modal-btn-close js-close-menu">
      <svg class="mobile-modal-btn-icon" width="24" height="24">
        <use href="./img/svg/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <ul class="mobile-modal-list">
      <li class="mobile-modal-item">
        <a class="mobile-modal-link" href="#about">About</a>
      </li>
      <li class="mobile-modal-item">
        <a class="mobile-modal-link" href="#yahts">Yahts</a>
      </li>
      <li class="mobile-modal-item">
        <a class="mobile-modal-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <div class="modal-background-circle"></div>
    <div class="modal-background-circle circle-last"></div>
  </div>
</div>
