<!-- REVIEW -->
<section class="review-section" id="'review">
  <div class="container">
    <div class="rewiev-title-holder">
      <h4 class="review-title">
        <span class="review-title-italic">Yaht Adventures</span>
        take pride in providing the best possible service and experience to our
        customers
      </h4>
      <p class="review-desc">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="review-card-list">
      <li class="review-card-item">
        <img
          src=""
          width="48"
          height="48"
          alt="review-person-1"
          class="review-card-avatar"
        />
        <h5 class="review-card-name">John Wax</h5>
        <p class="review-card-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="review-card-item">
        <img
          src=""
          width="48"
          height="48"
          loading="lazy"
          alt="review-person-2"
          class="review-card-avatar"
        />
        <h5 class="review-card-name">Victoria Romashenko</h5>
        <p class="review-card-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="review-card-item">
        <img
          src=""
          width="48"
          height="48"
          alt="review-person-3"
          class="review-card-avatar"
        />
        <h5 class="review-card-name">Ihor Trachuk</h5>
        <p class="review-card-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
