<!-- REVIEW -->
<section class="section review-section" id="reviews">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="review-container container">
    <div class="rewiev-title-holder">
      <h4 class="review-title">
        <span class="review-title-italic">Yaht Adventures</span>
        take pride in providing the best possible service and experience to our
        customers
      </h4>
      <p class="review-desc">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="review-card-list">
      <li class="review-card-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./src/img/reviews/img1-desk.webp    1x,
              ./src/img/reviews/img1-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./src/img/reviews/img1-desk.jpg    1x,
              ./src/img/reviews/img1-desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./src/img/reviews/img1-tablet.webp    1x,
              ./src/img/reviews/img1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./src/img/reviews/img1-tablet.jpg    1x,
              ./src/img/reviews/img1-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./src/img/reviews/img1-mob.webp    1x,
              ./src/img/reviews/img1-mob@2x.webp 2x
            "
            type="image/jpg"
          />
          <source
            media="(mmax-width: 767px)"
            srcset="
              ./src/img/reviews/img1-mob.jpg    1x,
              ./src/img/reviews/img1-mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="review-card-avatar"
            src="./src/img/reviews/img1-mob.jpg"
            alt="review author"
            width="56"
            height="56"
            loading="lazy"
          />
        </picture>
        <h5 class="review-card-name">John Wax</h5>
        <p class="review-card-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="review-card-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./src/img/reviews/img2-desk.webp    1x,
              ./src/img/reviews/img2-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./src/img/reviews/img2-desk.jpg    1x,
              ./src/img/reviews/img2-desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./src/img/reviews/img2-tablet.webp    1x,
              ./src/img/reviews/img2-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./src/img/reviews/img2-tablet.jpg    1x,
              ./src/img/reviews/img2-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./src/img/reviews/img2-mob.webp    1x,
              ./src/img/reviews/img2-mob@2x.webp 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./src/img/reviews/img2-mob.jpg    1x,
              ./src/img/reviews/img2-mob@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="review-card-avatar"
            src="./src/img/reviews/img2-mob.jpg"
            alt="review author"
            width="56"
            height="56"
            loading="lazy"
          />
        </picture>
        <h5 class="review-card-name">Victoria Romashenko</h5>
        <p class="review-card-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="review-card-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./src/img/reviews/img1-desk.webp    1x,
              ./src/img/reviews/img1-desk@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./src/img/reviews/img3-desk.jpg    1x,
              ./src/img/reviews/img3-desk@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./src/img/reviews/img3-tablet.webp    1x,
              ./src/img/reviews/img3-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./src/img/reviews/img3-tablet.jpg    1x,
              ./src/img/reviews/img3-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./src/img/reviews/img3-mob.webp    1x,
              ./src/img/reviews/img3-mob@2x.webp 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./src/img/reviews/img3-mob.jpg    1x,
              ./src/img/reviews/img3-mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="review-card-avatar"
            src="./src/img/reviews/img3-mob.jpg"
            alt="review author"
            width="56"
            height="56"
            loading="lazy"
          />
        </picture>
        <h5 class="review-card-name">Ihor Trachuk</h5>
        <p class="review-card-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
