<!-- REVIEW -->
<section class="section review-section" id="reviews">
  <!-- REVIEWS HEADER & DESC -->
  <div class="container review-container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="review-title-holder">
      <h4 class="review-title">
        <span class="review-title-italic">Yaht Adventures</span>
        take pride in providing the best possible service and experience to our
        customers
      </h4>
      <p class="review-desc">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <!-- REVIEW CARDS -->
    <div class="swiper" id="reviews-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper review-swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide review-card-style">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                  ./img/reviews/img1-desk.webp    1x,
                  ./img/reviews/img1-desk@2x.webp 2x`
                "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/reviews/img1-desk.png    1x,
                ./img/reviews/img1-desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/img1-tablet.webp    1x,
                ./img/reviews/img1-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/img1-tablet.png    1x,
                ./img/reviews/img1-tablet@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/reviews/img1-mob.webp    1x,
                ./img/reviews/img1-mob@2x.webp 2x
              "
              type="image/png"
            />
            <source
              media="(mmax-width: 767px)"
              srcset="
                ./img/reviews/img1-mob.png    1x,
                ./img/reviews/img1-mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="review-card-avatar"
              src="./img/reviews/img1-mob.png"
              alt="review author"
              width="56"
              height="56"
              loading="lazy"
            />
          </picture>
          <h5 class="review-card-name">John Wax</h5>
          <p class="review-card-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
        <div class="swiper-slide review-card-style">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/reviews/img2-desk.webp    1x,
                ./img/reviews/img2-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/reviews/img2-desk.png    1x,
                ./img/reviews/img2-desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/img2-tablet.webp    1x,
                ./img/reviews/img2-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/img2-tablet.png    1x,
                ./img/reviews/img2-tablet@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/reviews/img2-mob.webp    1x,
                ./img/reviews/img2-mob@2x.webp 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/reviews/img2-mob.png    1x,
                ./img/reviews/img2-mob@2x.png 2x
              "
              type="image/png"
            />

            <img
              class="review-card-avatar"
              src="./img/reviews/img2-mob.png"
              alt="review author"
              width="56"
              height="56"
              loading="lazy"
            />
          </picture>
          <h5 class="review-card-name">Victoria Romashenko</h5>
          <p class="review-card-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
        <div class="swiper-slide review-card-style">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/reviews/img3-desk.webp    1x,
                ./img/reviews/img3-desk@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/reviews/img3-desk.png    1x,
                ./img/reviews/img3-desk@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/img3-tablet.webp    1x,
                ./img/reviews/img3-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/reviews/img3-tablet.png    1x,
                ./img/reviews/img3-tablet@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/reviews/img3-mob.webp    1x,
                ./img/reviews/img3-mob@2x.webp 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/reviews/img3-mob.png    1x,
                ./img/reviews/img3-mob@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="review-card-avatar"
              src="./src/img/reviews/img3-mob.png"
              alt="review author"
              width="56"
              height="56"
              loading="lazy"
            />
          </picture>
          <h5 class="review-card-name">Ihor Trachuk</h5>
          <p class="review-card-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </div>
      <div class="review-swiper-pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
