<section class="services">
    <h2 class="services-title">Services</h2>
    <ul class="services-list">
        <li class="services-item">
            <img src="#" alt="A diver in the process of Diving" class="services-img" width="712" height="632">
            <a href="#" class="services-text">Diving</a>
        </li>
        <li class="services-item">
            <img src="#" alt="A man holds a fishing rod in his hands" class="services-img" width="440" height="428">
            <a href="#" class="services-text">Fishing</a>
        </li>
        <li class="services-item">
            <img src="#" alt="Three sun umbrellas" class="services-img" width="436" height="352">
            <a href="#" class="services-text">Sunbathing</a>
        </li>
    </ul>
</section>