<section class="services">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services-list card-set">
        <li class="services-item card-set-item">
            <a href="#" class="services-link">
            <img src="#" alt="A diver in the process of Diving" class="services-img" width="712" height="632">
            <p class="services-text">Diving</p>
            </a>
        </li>
        <li class="services-item card-set-item">
            <a href="#" class="services-link">
            <img src="#" alt="A man holds a fishing rod in his hands" class="services-img" width="440" height="428">
            <p class="services-text">Fishing</p>
            </a>
        </li>
        <li class="services-item card-set-item">
            <a href="#" class="services-link">
            <img src="#" alt="Three sun umbrellas" class="services-img" width="436" height="352">
            <p class="services-text">Sunbathing</p>
            </a>
        </li>
    </ul>
</section>