<section id="services" class="services">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services-list card-set">
        <li class="services-item card-set-item">
            <a href="#" class="services-link">
            <picture>
                <!-- Desktop screen -->
                <source media="(min-width: 1280px)" srcset="# 1x, # 2x"
                    type="image/webp" />
                <source media="(min-width: 1280px)" srcset="# 1x, # 2x"
                    type="image/jpg" />
                <!-- Tablet screen -->
                <source media="(min-width: 768px)" srcset="# 1x, # 2x"
                    type="image/webp" />
                <source media="(min-width: 768px)" srcset="# 1x, # 2x"
                    type="image/jpg" />
                <!-- Mobile screen -->
                <source media="(max-width: 767px)" srcset="# 1x, # 2x"
                    type="image/webp" />
                <source media="(max-width: 767px)" srcset="# 1x, # 2x"
                    type="image/jpg" />
            <img src="#" 
               alt="A diver in the process of Diving" 
               class="services-img" 
               width="712" 
               height="632" 
               loading="lazy">
            </picture>
                <p class="services-text">Diving</p>
            </a>
        </li>
        <li class="services-item card-set-item">
            <a href="#" class="services-link">
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: 1280px)" srcset="# 1x, # 2x" type="image/webp" />
                    <source media="(min-width: 1280px)" srcset="# 1x, # 2x" type="image/jpg" />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)" srcset="# 1x, # 2x" type="image/webp" />
                    <source media="(min-width: 768px)" srcset="# 1x, # 2x" type="image/jpg" />
                    <!-- Mobile screen -->
                    <source media="(max-width: 767px)" srcset="# 1x, # 2x" type="image/webp" />
                    <source media="(max-width: 767px)" srcset="# 1x, # 2x" type="image/jpg" />
                    <img src="#" 
                    alt="A man holds a fishing rod in his hands" 
                    class="services-img" 
                    width="440" 
                    height="428" 
                    loading="lazy">
                </picture>
               
                <p class="services-text">Fishing</p>
            </a>
        </li>
        <li class="services-item card-set-item">
            <a href="#" class="services-link">
                <picture>
                    <!-- Desktop screen -->
                    <source media="(min-width: 1280px)" srcset="# 1x, # 2x" type="image/webp" />
                    <source media="(min-width: 1280px)" srcset="# 1x, # 2x" type="image/jpg" />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)" srcset="# 1x, # 2x" type="image/webp" />
                    <source media="(min-width: 768px)" srcset="# 1x, # 2x" type="image/jpg" />
                    <!-- Mobile screen -->
                    <source media="(max-width: 767px)" srcset="# 1x, # 2x" type="image/webp" />
                    <source media="(max-width: 767px)" srcset="# 1x, # 2x" type="image/jpg" />
                    <img src="#" 
                    alt="Three sun umbrellas"
                     class="services-img" 
                     width="436" 
                     height="352"  
                    loading="lazy">
                </picture>
                <p class="services-text">Sunbathing</p>
            </a>
        </li>
    </ul>
</section>