<!-- <div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-1@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">Arrow</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">48m(155ft)</div>
          <div class="card-info">Admiral</div>
          <div class="card-info">2021</div>
          <div class="card-info">11 in 5 cabins</div>
          <div class="card-info">€33,500,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-2@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">BENETTI OASIS 40M...</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">41m (133ft)</div>
          <div class="card-info">Benetti</div>
          <div class="card-info">2025</div>
          <div class="card-info">10 in 5 cabins</div>
          <div class="card-info">€23,210,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-3@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">BELLE ANNA</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">50m(155ft)</div>
          <div class="card-info">ISA</div>
          <div class="card-info">2012</div>
          <div class="card-info">12 in 6 cabins</div>
          <div class="card-info">€21,000,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-4@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">Ellen</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">40m (132ft)</div>
          <div class="card-info">Perini Navi</div>
          <div class="card-info">2001 / 2016 (refitted)</div>
          <div class="card-info">9 in 4 cabins</div>
          <div class="card-info">€9,300,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-5@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">MIRAGE 401</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">38m (125ft)</div>
          <div class="card-info">Gianetti Custom Yachts</div>
          <div class="card-info">2024</div>
          <div class="card-info">10 in 5 cabins</div>
          <div class="card-info">€13,500,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-6@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">King</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">33m (109ft)</div>
          <div class="card-info">Overmarine</div>
          <div class="card-info">2004 / 2018 (refitted)</div>
          <div class="card-info">9 in 4 cabins</div>
          <div class="card-info">€1,850,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-7@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">SALT</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">32m (105ft)</div>
          <div class="card-info">SanLorenzo</div>
          <div class="card-info">2019</div>
          <div class="card-info">11 in 5 cabins</div>
          <div class="card-info">€7,800,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-8@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">STORM</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">32m (103ft)</div>
          <div class="card-info">Overmarine</div>
          <div class="card-info">2005 / 2022 (refitted)</div>
          <div class="card-info">9 in 4 cabins</div>
          <div class="card-info">€2,900,000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="swiper-card">
  <div class="card">
    <img src="./images/mobile/yacht-9@1x-mob.webp" alt="" />
    <div class="card-description">
      <div class="card-title">
        <div class="title-name">COLLU</div>
        <div class="title-type">LUXURY YAHTS</div>
      </div>
      <div class="card-data">
        <div class="parametrs">
          <div class="card-parametr">LENGTH</div>
          <div class="card-parametr">BUILDER</div>
          <div class="card-parametr">BUILT</div>
          <div class="card-parametr">GUESTS</div>
          <div class="card-parametr">PRICE</div>
        </div>
        <div class="info">
          <div class="card-info">29m (96ft)</div>
          <div class="card-info">Ferretti</div>
          <div class="card-info">2014</div>
          <div class="card-info">10 in 5 cabins</div>
          <div class="card-info">$4,300,000</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
