<section class="yahts-section section">
  <div class="yacht-bg-wrapper"></div>
  <div class="yacht-title container">
    <h2 class="section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <a class="rental-btn" href="#">Yacht rental</a>
    <div class="background-figure-big"></div>
    <div class="background-figure-small"></div>
  </div>

  <div class="slider-container">
    <div class="swiper-container container">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-1@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-1@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-1@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-1@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-1@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-1@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-1@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">Arrow</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">48m(155ft)</div>
                  <div class="card-info">Admiral</div>
                  <div class="card-info">2021</div>
                  <div class="card-info">11 in 5 cabins</div>
                  <div class="card-info">€33,500,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 2 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-2@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-2@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-2@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-2@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-2@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-2@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-2@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">BENETTI OASIS 40M...</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">41m (133ft)</div>
                  <div class="card-info">Benetti</div>
                  <div class="card-info">2025</div>
                  <div class="card-info">10 in 5 cabins</div>
                  <div class="card-info">€23,210,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 3 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-3@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-3@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-3@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-3@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-3@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-3@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-3@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">BELLE ANNA</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">50m(155ft)</div>
                  <div class="card-info">ISA</div>
                  <div class="card-info">2012</div>
                  <div class="card-info">12 in 6 cabins</div>
                  <div class="card-info">€21,000,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 4 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-4@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-4@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-4@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-4@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-4@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-4@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-4@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">Ellen</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">40m (132ft)</div>
                  <div class="card-info">Perini Navi</div>
                  <div class="card-info">2001 / 2016 (refitted)</div>
                  <div class="card-info">9 in 4 cabins</div>
                  <div class="card-info">€9,300,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 5 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-5@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-5@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-5@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-5@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-5@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-5@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-5@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">MIRAGE 401</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">38m (125ft)</div>
                  <div class="card-info">Gianetti Custom Yachts</div>
                  <div class="card-info">2024</div>
                  <div class="card-info">10 in 5 cabins</div>
                  <div class="card-info">€13,500,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 6 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-6@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-6@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-6@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-6@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-6@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-6@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-6@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">King</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">33m (109ft)</div>
                  <div class="card-info">Overmarine</div>
                  <div class="card-info">2004 / 2018 (refitted)</div>
                  <div class="card-info">9 in 4 cabins</div>
                  <div class="card-info">€1,850,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 7 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-7@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-7@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-7@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-7@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-7@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-7@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-3@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">SALT</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">32m (105ft)</div>
                  <div class="card-info">SanLorenzo</div>
                  <div class="card-info">2019</div>
                  <div class="card-info">11 in 5 cabins</div>
                  <div class="card-info">€7,800,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 8 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-8@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-8@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-8@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-8@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-8@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-8@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-8@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">STORM</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">32m (103ft)</div>
                  <div class="card-info">Overmarine</div>
                  <div class="card-info">2005 / 2022 (refitted)</div>
                  <div class="card-info">9 in 4 cabins</div>
                  <div class="card-info">€2,900,000</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Slide 9 -->
          <div class="swiper-slide">
            <div class="swiper-card">
              <img
                srcset="
                  ../img/yachts-block/mobile/yacht-9@1x-mob.webp   299w,
                  ../img/yachts-block/mobile/yacht-9@2x-mob.webp   598w,
                  ../img/yachts-block/tablet/yacht-9@1x-tab.webp   312w,
                  ../img/yachts-block/tablet/yacht-9@2x-tab.webp   624w,
                  ../img/yachts-block/desktop/yacht-9@1x-desk.webp 322w,
                  ../img/yachts-block/desktop/yacht-9@2x-desk.webp 644w
                "
                sizes="(min-width: 1280px) 322px, (min-width: 768px) 312px, (min-width: 375px) 299px, 100vw"
                src="../img/yachts-block/mobile/yacht-9@1x-mob.webp"
                alt=""
                width="322"
                height="268"
              />

              <div class="card-title">
                <div class="title-name">COLLU</div>
                <div class="title-type">LUXURY YAHTS</div>
              </div>
              <div class="card-data">
                <div class="parametrs">
                  <div class="card-parametr">LENGTH</div>
                  <div class="card-parametr">BUILDER</div>
                  <div class="card-parametr">BUILT</div>
                  <div class="card-parametr">GUESTS</div>
                  <div class="card-parametr">PRICE</div>
                </div>
                <div class="info">
                  <div class="card-info">29m (96ft)</div>
                  <div class="card-info">Ferretti</div>
                  <div class="card-info">2014</div>
                  <div class="card-info">10 in 5 cabins</div>
                  <div class="card-info">$4,300,000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need navigation buttons -->
      </div>
    </div>
    <div class="swiper-buttons">
      <button class="swiper-button-prev">Prev</button>
      <button class="swiper-button-next">Next</button>
    </div>
  </div>
</section>
